<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div *ngIf="alertMessage" class="alert alert-danger">{{alertMessage}}</div>
      <form class="registration-form" #userRegistrationForm="ngForm" (submit)="onSubmit(userRegistrationForm)">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="username">Username:</label>
              <input #username="ngModel" [(ngModel)]="user.username" name="username" id="username" type="text"
                     class="form-control" required minlength="4">
              <div class="invalid-label" *ngIf="username.dirty && username.invalid">
                <div *ngIf="username.errors.minlength">Minimum 4 characters.</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="password">Password:</label>
              <input #password="ngModel" [(ngModel)]="user.password" name="password" id="password" type="password"
                     class="form-control" required minlength="4">
              <div class="invalid-label" *ngIf="password.dirty && password.invalid">
                <div *ngIf="password.errors.minlength">Minimum 4 characters.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="firstName">First name:</label>
              <input #firstName="ngModel" [(ngModel)]="user.firstName" name="firstName" id="firstName" type="text"
                     class="form-control" required minlength="4">
              <div class="invalid-label" *ngIf="firstName.dirty && firstName.invalid">
                <div *ngIf="firstName.errors.minlength">Minimum 4 characters.</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="lastName">Last name:</label>
              <input #lastName="ngModel" [(ngModel)]="user.lastName" name="lastName" id="lastName" type="text"
                     class="form-control" required minlength="4">
              <div class="invalid-label" *ngIf="lastName.dirty && lastName.invalid">
                <div *ngIf="lastName.errors.minlength">Minimum 4 characters.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="email">Email:</label>
              <input #email="ngModel" [(ngModel)]="user.email" name="email" id="email" type="text" class="form-control"
                     required email="true">
              <div class="invalid-label" *ngIf="email.dirty && email.invalid">
                <div *ngIf="email.errors.email && email.value">It's not a valid email</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button [disabled]="!userRegistrationForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
