.form-control.ng-touched.ng-invalid  {
  border: 2px solid #a94442;
}

.form-control.ng-touched.ng-valid[required]  {
  border: 2px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
