<p>
  <a i18n="Admin books page | Add new book @@AdminBooksPageAddNewBookButton" routerLink="/admin/books/new" class="btn btn-primary">New book</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>
  <data-table-column
    [property]="'name'"
    [header]="'Name'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/books/',item.id]">{{item.name}}</a>
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'authors'"
    [header]="'Authors'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <div *ngFor="let a of item.authors">
        <a [routerLink]="['/authors/',a.id]"> {{a.fullName}}</a>
      </div>
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'publishYear'"
    [header]="'Publication year'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{item.publishYear}}
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'rating'"
    [header]="'Rating'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{item.rating | number:'1.1-1'}}
    </ng-template>
  </data-table-column>

  <data-table-column
  >
    <ng-template #dataTableCell let-item="item">
      <a  i18n="Admin books page | Edit book @@AdminBooksPageEditBookLink"[routerLink]="['/admin/books/',item.id]">Edit</a>
    </ng-template>
  </data-table-column>
</data-table>

