<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
      <div class="card" *ngIf="user">
        <img
          src="{{'assets/img/profilepickplaceholder.jpg'}}"
          alt="John" style="width:100%">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <p class="title">Just user</p>
        <p>{{user.email}}</p>

        <p>
          <button class="contact-button">Contact</button>
        </p>
      </div>
    </div>
    <div class="col-8">
      <ul class="nav nav-tabs">
        <ngb-tabset>
          <ngb-tab title="Профиль">
            <ng-template ngbTabContent>
              <form *ngIf="user" #f="ngForm" (ngSubmit)="save(f)">
                <div class="bot-border"></div>
                <div class="form-group">
                  <label
                    i18n="User profile | First name @@userProfileFirstNameLabel"
                    for="firstName">First Name:</label>
                  <input
                    #firstName="ngModel"
                    [readonly]="!isEditing"
                    [ngModel]="user.firstName"
                    name="firstName"
                    id="firstName"
                    type="text"
                    class="form-control" required minlength="4">
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class=" form-group">
                  <label
                    i18n="User profile | Last name @@userProfileLastNameLabel"
                    for="lastName">Last Name:</label>
                  <input #title="ngModel" [readonly]="!isEditing" [ngModel]="user.lastName" name="lastName"
                         id="lastName" type="text"
                         class="form-control" required minlength="4">
                </div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>
                <div class=" form-group">
                  <label for="email">Email:</label>
                  <input #title="ngModel" [readonly]="!isEditing" [ngModel]="user.email" name="email" id="email"
                         type="text"
                         class="form-control" required email>
                </div>
                <div class="clearfix"></div>
                <div *ngIf="authService.getCurrentUser().sub === user.username">
                  <button
                    i18n="User profile | Edit button @@userProfileEditButton"
                    *ngIf="!isEditing" class="btn btn-primary" type="button" (click)="edit(f)">Edit</button>
                  <button
                    i18n="User profile | Save button @@userProfileSaveButton"
                    *ngIf="isEditing" class="btn btn-primary" [disabled]="!f.valid" type="submit">Save</button>
                  <button
                    i18n="User profile | Cancel button @@userProfileCancelButton"
                    *ngIf="isEditing" class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
                </div>
              </form>
            </ng-template>
          </ngb-tab>

          <ngb-tab  title="Мои оценки">
            <ng-template ngbTabContent>
              <div class="bot-border"></div>
              <div *ngIf="userVotes">
                <table class="table">
                  <thead>
                  <tr>
                    <th i18n="User profile | Book title @@userProfileVoteBookTitle" scope="col">Title</th>
                    <th i18n="User profile | My vote @@userProfileVoteValueTitle" scope="col">My vote</th>
                    <th i18n="User profile | My comment @@userProfileVoteComment" scope="col">Comment</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let v of userVotes">
                  <tr>
                    <td><a [routerLink]="['/books/',v.bookId]">{{v.bookName}}</a></td>
                    <td>
                      <ngb-rating
                        [(rate)]="v.value"
                        [readonly]="true" max="5">
                        <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                      </ngb-rating>
                    </td>
                    <td><p style="font-size: 120%">{{v.comment}}</p></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Мои книги">
            <ng-template ngbTabContent>
              <div class="bot-border"></div>
                <orders [username]="user.username"></orders>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ul>
    </div>
  </div>
</div>
