<p>
  <a routerLink="/admin/authors/new" class="btn btn-primary">Add new author</a>
</p>
<p>
  <input
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"
>
  <data-table-column
    [property]="'fullName'"
    [header]="'Name'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/authors/',item.id]">{{item.fullName}}</a>
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'birthday'"
    [header]="'Birthday'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      {{item.birthday | date : 'mediumDate'}}
    </ng-template>
  </data-table-column>


  <data-table-column
    [property]="'books'"
    [header]="'Books'"
    [sortable]="true"
    [resizable]="true"
  >
    <ng-template #dataTableCell let-item="item">
      <div *ngFor="let b of item.books">
        {{b.name}}
      </div>
    </ng-template>
  </data-table-column>

  <data-table-column
    [property]="'id'"
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/admin/authors/',item.id]">Edit</a>
    </ng-template>
  </data-table-column>

</data-table>
