<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="name">Title:</label>
        <input #title="ngModel" [(ngModel)]="book.name" name="name" id="name" type="text" class="form-control" required>
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors.required">Title is required.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="authors">Authors:</label>
        <ng-select
          #author = "ngModel"
          [(ngModel)]="book.authors"
          name="authors"
          id="authors"
          [items]="authors"
          bindLabel="fullName"
          [multiple]="true"
          [closeOnSelect]="false"
          required
        >
        </ng-select>
        <div class="alert alert-danger" *ngIf="author.touched && author.invalid">
          <div *ngIf="author.errors.required">Author is required.</div>
        </div>
        <button type="button"  class="btn btn-primary" routerLink="/admin/authors/new">Add new author</button>
      </div>

      <div class="form-group">
        <label for="publishYear">Publication year:</label>
        <input #publishYear="ngModel" [(ngModel)]="book.publishYear" name="publishYear" id="publishYear" type="text"
               class="form-control" required [min]="1800">
        <div class="alert alert-danger" *ngIf="publishYear.touched && publishYear.invalid">
          <div *ngIf="publishYear.errors.required">Publication year is required.</div>
          <div *ngIf="publishYear.errors.min">Publication year should be 1800 or higher.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="genre">Genre:</label>
        <select #genre="ngModel" [(ngModel)]="book.genre" name="genre" id="genre" class="form-control" required>
          <option value=""></option>
          <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="genre.touched && genre.invalid">
          Genre is required.
        </div>
      </div>

      <div class="form-group">
        <label for="imageURL">Image URL:</label>
        <input #imageURL="ngModel" [(ngModel)]="book.imageURL" name="imageURL" id="imageURL" type="text"
               class="form-control" required url>
        <div class="alert alert-danger" *ngIf="imageURL.touched && imageURL.invalid">
          <div *ngIf="imageURL.errors.required"> Image URL is required.</div>
          <div *ngIf="imageURL.errors.url"> It's not a valid URL.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea #description [(ngModel)]="book.description" name="description" id="description" class="form-control"
                  rows="5"></textarea>
      </div>

      <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
      <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    </form>
  </div>

  <div class="col-md-6">
    <book-card [book]="book" [show-actions]="false"></book-card>
  </div>
</div>


