@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

body{
  padding-top: 5rem;
}

ng-select.ng-invalid.ng-touched .ng-control  {
  border: 2px solid #a94442;
}

ng-select.ng-valid.ng-touched[required] .ng-control  {
  border: 2px solid #42A948;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffcf36;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
